/* Block: admin */
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  margin-bottom: 1rem;
}

.tablecontainer {
  align-items: left;
  width: 70%;
}

.table {
  margin: 1rem;
  align-items: left;
  display: flex;
}

.description a {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 0.5rem;
}

.description p {
  position: relative;
  background-color: rgba(var(--callout-border-rgb), 0.3);
  margin: 0;
  padding: 1rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
}

.code {
  font-weight: 700;
  padding: 1rem;
}
