/* Block: leaderboard */
.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;
}

.main {
  width: 70%;
  padding: 1rem;
}

.container {
  position: relative;
  background-color: rgba(var(--callout-border-rgb), 0.3);
  padding: 1rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
  width: 100%;
}

.timerange {
  flex-direction: column;
  align-items: left;
  margin: 2rem;
}

/* Element: leaderboard__container */
.leaderboard__container {
  display: flex;
  text-align: "center";
  flex-direction: row;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  background-color: rgba(var(--callout-border-rgb), 0.3);
  margin: 0;
  padding: 1rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  backdrop-filter: blur(10px);
}

.code {
  font-weight: 700;
  padding: 1rem;
}

/* Element: leaderboard__column */
.leaderboard__column {
  flex: 1;
  padding: 1rem;
  margin-right: 20px;
  min-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: var(--border-radius);
  margin-top: 0.5rem;
  padding: 0.4rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}
